{{ partial "header-all.html" . }}

<h6>Articles</h6>
<section class="posts">

  {{ range .Site.RegularPages }}

  <section class="post">
    <h2>
        <a href="{{.Permalink}}">{{.Title}}</a></h2>
        <p>{{ .Summary }}</p>
        <p class="tags">
          {{ range (.GetTerms "tags") }}
        <span class="tag"><a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
      </span>
      {{ end }}
      </p>
    </section>
{{ end }}
</section>



{{ partial "footer.html" . }}
