</article>
<footer>
  <p class="encart"> Les informations de ce site ne sont qu'une suite de réflexions et d'actions personnelles et n'ont donc aucun caractère scientifique. Ce travail de recherche et de production d'hypothèses est mené de concert avec les actions de l'association <a href="/articles/les-enjeux-de-bretagne-transition/">Bretagne Transition.</a></p>
  <p>—</p>
  <p>❦ Ce site est libre de tout cookie et mesure d'audience.</p>
  <p>Ce site est réalisé avec <a href="https://gohugo.io">Hugo</a> et hébergé sur <a href="https://about.gitlab.com/stages-devops-lifecycle/pages/">GitLab Pages</a>. Vous souhaitez participer à ce projet, rejoignez le groupe <a href="https://gitlab.com/pays-de-l-aven">pays-de-l-aven</a> sur GitLab.
  </p>
  <p>—</p>

  </footer>
</body>
</html>
