<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{.Title}}</title>

  <link rel="stylesheet" href="/css/avenfrugal.css">

</head>

<body>
  <header>

    <nav>
    </nav>

    <h1>{{ .Site.Title }}</h1>
    <p class="chapo">{{$.Site.Params.description}}</p>

    <p> Le choix d'un lieu de retraite peut se faire pour raison familiale, patrimoniale ou pour les qualités que peuvent offrir un environnement : paysage, climat, facilité d'accès, services, activités, etc. Aujourd'hui, ce choix de
      territoire-refuge semble être très largement influencé par le contexte d'urgence climatique et, dans l'imaginaire d'une France caniculaire, la Bretagne apparaît comme une possible oasis.
    </p>
    <p>L'incapacité de chacun à saisir la dimension systémique de l'évolution du climat et de ses causes, nous pousse à nous engager dans des actions locales avec tout le danger du repli sur soi que ces actions peuvent porter. Pourtant, les
      territoires doivent pouvoir, à leur échelle, mettre en récit les enjeux climatiques. Il ne s'agit plus d'être résilient - c'est à dire d'être capable de revenir à un état passé, ni d'ajuster l'existant pour absorber les crises à venir mais,
      comme l'explique Guillaume Simonet dans son article <em>De l’ajustement à la transformation : vers un essor de l’adaptation ?</em>, d'<a href="/articles/adapter-les-besoins-au-territoire/">adapter les besoins au territoire</a>.
    </p>
    <p> La <a href="/articles/les-dimensions-possibles-du-territoire/">taille du territoire</a> envisagée pour analyser les besoins élémentaires de sa population et les adapter aux ressources et services disponibles est très variable. Les données,
      réflexions et actions documentées sur ce site se concentre dans un premier temps sur la communauté de communes *Concarneau Cornouaille Agglomération (<a href="https://www.cca.bzh/">CCA</a>).</p>
      <p>Pyc pour <a href="https://lieu-subjectif.com/">un lieu subjectif</a>.

  </header>

  <article>
