<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{.Title}}</title>

  <link rel="stylesheet" href="/css/avenfrugal.css">

</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Accueil</a></li>
      </ul>
    </nav>
    <h5>{{ .Site.Title }}</h5>
    <p>{{$.Site.Params.description}}</p>

  </header>

  <article>
