
:root {
  --main-color: navy;
  --lite-color: grey;
  --hilite-color: LemonChiffon;
  --bkg-color: ivory;
  --bling-color: GreenYellow;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--main-color);
  font-family: 'RC',-apple-system,BlinkMacSystemFont,helvetica neue,helvetica,arial,sans-serif;
  font-size: 16px;
  line-height: 140%;
  word-spacing: -0.05rem;
  letter-spacing: 0.01rem;
  background-color: var(--bkg-color);
  font-weight: 300;
}

header {
  font-size: 16px;
  line-height: 130%;
}

nav ul {
  list-style-type: none;
}

article {
  grid-column: 2 / span 2;
}

h1 {
  margin: 0 0 10px;
  line-height: 100%;
}

#description {
  font-size: 24px;
  line-height: 120%;
}

h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 26px;
  line-height: 100%;
}

a, a:visited {
  color: var(--main-color);
}

.tags {
  margin-top: 5px;
  font-size: 10px;
  text-transform: uppercase;
}

.tag {
  margin-right: 5px;
  padding: 2px 5px;
  background-color: var(--bling-color)
}

figure {
  margin-top: 20px;
}

img {
  width: 100%;
  border: 1px var(--lite-color) solid;
}

figcaption {
  font-size: 14px;
  line-height: 130%;
  font-style: italic;
  color: var(--lite-color) ;
}

h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 100%;
}

p, ul, ol, figure, blockquote {
  margin-bottom: 10px;
}

ul, ol {
  margin-left: 17px;
  list-style-position: outside;
}

ul li, ol li{
  margin-bottom:5px;
}

blockquote {
  padding: 0 0 0 10px;
  border-left: 5px solid lightgrey;
}

p.chapo {
  font-size: 19px;
  line-height: 130%;
}

hr {
  margin: 20px 0;
  height: 1px;
  border-width: 0;
  background-color: var(--lite-color);
}

h5 {
  margin-bottom: 2px;
  font-size: 18px;
  line-height: 120%;
}

h6 {
  margin-bottom: 10px;
  font-size: inherit;
  text-transform: uppercase;
}

strong{font-weight: 700;}

mark {
  font-size: inherit;
  background-color: var(--hilite-color);
}

footer {
  margin-top: 40px;
  font-size: 16px;
  line-height: 130%;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 699px) {
  body {
    padding: 10px;
  }

  header {
    grid-column: 1 / span 1;
  }

  h1 {
    font-size: 40px;
  }
}

@media screen and (min-width: 700px) {
  body {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 30px;
  }

  header {
    grid-column: 1 / span 2;
  }

  article {
    grid-column: 3 / span 3;
  }

  .post {
    page-break-after: always;
  }

  h1 {
    font-size: 50px;
  }
}

@media print {

  @page{size: A4; margin: 1cm;}

body{background-color: none; color:dimgrey}

mark {

  background-color: none;
}

figure{margin: 60px auto; width: 50%;}

h1, h2, h3, h4, figure {page-break-inside : avoid;}
h1 {
  font-size: 50px;
}
footer figure{display:none;}
}
