{{ partial "header-home.html" . }}


<h6>Articles</h6>
<section class="posts">

  {{ range where .Site.RegularPages "Params.featured" "home" }}


  <section class="post">
    <h2>
      <a href="{{.Permalink}}">{{.Title}}</a>
    </h2>
    <p> {{ .Summary }}</p>
    <p class="tags">
      {{ range (.GetTerms "tags") }}
      <span class="tag"><a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
      </span>
      {{ end }}
    </p>
  </section>
  {{ end }}
</section>

<p>—</p>
<p>&rarr; <a href="/articles/">Voir tous les articles</a></p>


{{ partial "footer.html" . }}
